<html>
<body>
    <div id="wrap">
        <div id="contact1">
           <p class="email">email:foo@example.com</p>
           <ul>
              <li>phone: 415-231-2345</li>
           </ul>
        </div>
        <div id="contact2">
           <p class="email">email:onlyone@justemail.com</p>
        </div>
        <div id="contact3">
           <ul>
              <li>phone: +19045041234</li>
           </ul>
        </div>
        <div id="contact4">
           <p class="email">email: bar@example.com</p>
           <p class="email">email: bar2@example.com</p>
           <ul>
              <li>phone: +16506123456</li>
           </ul>
        </div>
        <div id="contact5">
           <p class="email">email: other@example.com</p>
           <p><a class="email" href="mailto:other2@example.com">email</a></p>
           <ul>
              <li>phone: +16507654321</li>
           </ul>
        </div>
    </div>

    <p id="footer" class="email">footer: site@webmaster.com</p>
</body>
</html>
